<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="description" content="A simple landing page that displays the current year's NBA standings." />
</head>

<body>

  <h1>
    <%= pageTitle %>
  </h1>

  <div class="flex">
    <div id="western-conference">
      <h2> Western Conference </h2>
      <ol id="western-conference-teams">
        <% westStandings.forEach(team=> {
          if (team.name==="Golden State Warriors" ) { %>
          <li class="fave-team">
            <% } else { %>
          <li>
            <% } %>
              <%= team.name %> <span>
                  <%= team.wins %>&middot;<%= team.losses %>
                </span>
          </li>
          <% }) %>
      </ol>
    </div>
    <div id="eastern-conference">
      <h2> Eastern Conference </h2>
      <ol id="eastern-conference-teams">
        <% eastStandings.forEach(team=> {
          if (team.name==="Boston Celtics" ) { %>
          <li class="fave-team">
            <% } else { %>
          <li>
            <% } %>
              <%= team.name %> <span>
                  <%= team.wins %>&middot;<%= team.losses %>
                </span>
          </li>
          <% }) %>
      </ol>
    </div>
  </div>
</body>

</html>